{{>header}}
<main>
    <h1>{{ title }}</h1>
    <img class="portrait" src="/img/avatar.png" alt="avatar">
    <p class="about__content">This site was created by Pavel Koryakin.<br> It uses data from weatherstack.com & mapbox.com.</p>
</main>
{{>footer}}

</body>
</html>

