{{>header}}
<main class="weather">
    <h1>{{ title }}</h1>
    <p class="weather__subtitles">Use this site to get your weather</p>

    <form id="weather-form">
        <input class="weather__input" type="text" placeholder="Location" id="weather-input">
        <button class="weather__button">Search</button>
    </form>

    <div class="weather__content">
        <p class="weather__message-one"></p>
        <p class="weather__message-two"></p>
    </div>
</main>
{{>footer}}

<script src="/js/app.js"></script>
</body>
</html>



