<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{ title }}</title>
</head>
<body>
<header>
    <ul>
        <li> <a href="/">Home</a></li>
        <li> <a href="/about">About</a></li>
    </ul>
</header>
<main>
    <h1>{{ title }}</h1>
    <p>{{ helpText }}</p>
    <p>Created by {{ name }}</p>
</main>

</body>
</html>
