* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    color: #2d3436;
}

.header {
    height: 100px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0984e3;
}

.header__logo {
    width: 80px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 3px;
    text-decoration: none;
}

.header ul {
    display: flex;
    list-style: none;
}

.header li:not(:last-child) {
    margin-right: 25px;
}

.header li {
    transition: transform 0.2s linear;
}

.header li:hover,
.header li:active {
    transform: scale(1.1);
}

.header li a {
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

main {
    max-width: 650px;
    margin: 0 auto;
    padding: 50px 15px;
    flex-grow: 1;
}

main h1 {
    margin-bottom: 30px;
    font-size: 55px;
    color: #636e72;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}



.portrait {
    display: block;
    width: 200px;
    margin: 0 auto;
}

.footer {
    height: 150px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    background-color: #0984e3;
}

.footer p {
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 2px;
}

.page404 {
    font-size: 25px;
    text-align: center;
}
