* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    color: #2d3436;
}

.header {
    height: 100px;
    padding: 0 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #0984e3;
}

.header ul {
    display: flex;
    list-style: none;
}

.header li:not(:last-child) {
    margin-right: 25px;
}

.header li {
    transition: all 0.2s linear;
    cursor: pointer;
}

.header li:hover {
    transform: translateY(-2px);
}

.header li a {
    padding: 0.5rem 0;
    color: #74b9ff;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.2s linear;
}

.header li a:hover {
    color: #ffffff;
}

main {
    max-width: 650px;
    margin: 0 auto;
    padding: 50px 15px;
    flex-grow: 1;
}

main h1 {
    margin-bottom: 30px;
    font-size: 55px;
    color: #636e72;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}

.weather__subtitles {
    margin-bottom: 30px;
    line-height: 1.5;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}

.help__content {
    margin-bottom: 20px;
}

.portrait {
    display: block;
    width: 200px;
    margin: 0 auto;
}

.footer {
    height: 100px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #74b9ff;
    background-color: #0984e3;
}

.footer p {
    text-align: center;
    line-height: 1.5;
    letter-spacing: 2px;
}

.page404 {
    font-size: 25px;
    text-align: center;
}

#weather-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.weather__input {
    flex-grow: 1;
    margin-right: 5px;
    padding: 7px 12px;
    border: 1px solid #b2bec3;
    border-radius: 3px;
}

.weather__button {
    padding: 7px 25px;
    color: #ffffff;
    text-transform: uppercase;
    border: 1px solid #0984e3;
    border-radius: 3px;
    background-color: #0984e3;
    cursor: pointer;
    transition: all 0.3s linear;
}

.weather__button:hover {
    color: #0984e3;
    background-color: #ffffff;
}

.weather__button:active {
    transform: scale(0.97);
}

.weather__message-one {
    margin-bottom: 10px;
}

.weather__message-two {
    line-height: 1.5;
}
